<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="width-device-width">
        <title>
            home
        </title>
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laborum esse voluptatibus pariatur dignissimos distinctio saepe sequi. Doloremque magni eveniet omnis quam adipisci facere dolorum laudantium minima nemo repellendus. Nihil.</p>
        <a class="btn btn-info" href="/campgrounds">All Campgrounds</a>
    </body>
</html>